@import '../../index.scss';


nav{
    width: 100%;
    height: 80px;
    padding: 1rem;
    position: relative;
    top: 0;

    .main-nav-container{
        @include Layout;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{

            span{
                color: var(--secondary-color);
            }
        }
        .links{
            
            @include medium{
                display: none;
            }

            ul{
                display: flex;
                gap: 1rem;

                li{
                    font-size: 18px;

                    a{
                        padding: .5rem .6rem;
                    }
                }
            }
        }

        .toggler{
            font-size: 24px;
            @include centerHorizontal;
            gap: .5rem;

            .icon{
                cursor: pointer;
                color: var(--secondary-color);
                
            }

            .hamburger{
                display: none;

                @include medium{
                   display: block;
                   font-size: 28px;
                   font-weight: 500;
                }
            }

            button{
                padding: .6rem 1.2rem;
                background-color: var(--secondary-color);
                outline: none;
                border: none;
                font-size: 16px;
                border-radius: .4rem;
                cursor: pointer;
                transition: all 1s ease;

                &:hover{
                    background: var(--text-bg);
                }

                @include one{
                    display: none;
                }
            }
        }
    }

    .sidebar{
        position: absolute;
        top: 0;
        right: -50%;
        width: 0;
        height: 100vh;
        background-color: var(--secondary-color);
        @include centerVertical;
        gap: 1rem;
        padding: 2rem 1rem;
        transition: all 1s ease-in-out;
        
        @include mediumA{
            display: none;
        }

        @include small{
            right: -70%;
        }
        

        &.show{
            right: 0;
            width: 50%;

            @include small{
                right: 0;
                width: 70%;
            }
        }

       

        .cancel-icon{
            font-size: 35px;
            position: absolute;
            top: 10px;
            right: 15px;
            cursor: pointer;

           
        }

        img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
        
        h1{
             color: var(--primary-color);

        }

        ul{
            height: 40%;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            

            li{
                font-size: 18px;
            }
        }

        .social-icons{
            height: 30%;
            display: flex;
            gap: 1rem;

            .icon{
                padding: 1rem 1rem;
                box-sizing: content-box;
                border-radius: 50%;
                background-color: var(--primary-color);
                color: white;
                transition: all 1s ease;
                cursor: pointer;

                 &:hover{
                background: var(--links-bg);
                transform: scale(1.1);
            }
            }
        }

        .icon{
          font-size: 30px;
        }

        @include small{
            width: 70%;
        }
    }
}