@import "../../index.scss"; 

footer {
  width: 100%;
  height: 60vh;
  background-color: var(--secondary-color);
  display: flex; 
  align-items: center;
  justify-content: center;
  color: var(--text-color);

  .footer-wrapper {
    @include Layout; 

    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    p {
      font-size: 20px; 
    }

    .social-icons {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 1rem;

      li {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          background-color: var(--primary-color);
          @include centerHorizontal;
        a {
        

          .icon{
            font-size: 35px;
          }

          &:hover {
            color: var(--accent-color); // Change icon color on hover
          }
        }
      }
    }
  }
}
